[Unit]
Description=Restarts copyparty, called by timer every day at 4AM

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart steamoji_copyparty.service
