# /etc/systemd/system/steamoji_copyparty.service

# USER TIMER FOR REBOOT
# REDIRECT OUTPUT TO LOG FILE

[Unit]

Description=Runs and monitors copyparty fileserver.

After=multi-user.target

[Service]
Type=exec
ExecStart=/usr/bin/python3 /home/{usr}/steamojicopyparty/start.py
ExitType=main

WorkingDirectory=/home/{usr}/steamojicopyparty

User={usr}
Group={usr}

# Ensures the program 
Restart=always

[Install]
# The run level.
WantedBy=multi-user.target
