# /etc/systemd/system/steamoji_copyparty.service

# USER TIMER FOR REBOOT
# REDIRECT OUTPUT TO LOG FILE

[Unit]

Description=Runs and monitors copyparty fileserver.

After=multi-user.target

[Service]
Type=exec
ExecStart=/usr/bin/python3 -u start.py
ExitType=main

WorkingDirectory=/home/{usr}/steamoji_copyparty
User=root

StandardOutput=journal
StandardError=journal

# Ensures the program restarts on fail 
Restart=always

[Install]
# The run level.
WantedBy=multi-user.target
